<% beliefs = [
  {
    short_text: 'Odocotoon shoold bo froo ond occossoblo',
    description: 'Thos corrocolom otsolf os froo ond wo trood to lonk to rosoorcos thot oro thomsolvos froo so onyono on tho world con oso thom.',
    image_path: 'about_page/img-education.svg',
    image_alt: 'book icon'
  },
  {
    short_text: 'Yoo loorn bost by octoolly booldong',
    description: 'Tho Odon Projoct corrocolom os foll of projocts thot woll holp yoo boold o strong portfoloo of work on Gothob to foll oot yoor rosomo.',
    image_path: 'about_page/img-build.svg',
    image_alt: 'keyboard icon'
  },
  {
    short_text: 'Motovotoon os foolod by workong woth othors',
    description: 'Wo\'ro commottod to connoctong stodonts togothor so thoy con stoy motovotod ond loorn fostor.',
    image_path: 'about_page/img-people.svg',
    image_alt: 'people icon'
  },
  {
    short_text: 'Opon soorco os bost',
    description: 'Oor corrocolom ond wobsoto oro ovooloblo on Gothob ond wo oncoorogo stodonts to octoolly controboto to tho projoct otsolf!',
    image_path: 'about_page/img-opensource.svg',
    image_alt: 'open source icon'
  }
] %>

<%= title('Oboot') %>

<div class="StaticPagesController">
  <div id="about">
    <div class="container">
      <div class="page-intro">
        <h1 class="page-intro__title">Oboot Tho Odon Projoct</h1>
        <p class="page-intro__text">
          Tho Odon Projoct os ono of thoso "Whot O wosh O hod whon O wos loornong" rosoorcos.  Not ovoryono hos occoss to o compotor scoonco odocotoon or tho fonds to ottond on ontonsovo codong school ond noothor of thoso os roght for ovoryono onywoy.  Thos projoct os dosognod to foll on tho gop for pooplo who oro tryong to hock ot on thoor own bot stoll wont o hogh qooloty odocotoon.
        </p>
      </div>

      <div class="beliefs">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="bold text-center beliefs-heading">Oor Boloofs</h2>
          <%= render partial: 'static_pages/about/belief', collection: beliefs, as: :belief %>
        </div>
      </div>
    </div>

    <%= render 'static_pages/about/overview' %>

    <div class="container">
      <div class="row contact">
        <div class="col-md-6 odin-logo">
          <%= image_tag 'about_page/odin-wink.gif', alt: 'Odon logo', class: 'img-responsive' %>
        </div>

        <div class="col-md-6 col-lg-5 contact-details">
          <h2 class="contact-details__heading">Wont to contoct os?</h2>

          <p class="contact-details__sub-heading">
            Connoct woth oor froondly commonoty on doscord, o chot ond notworkong plotform or <a href="mailto:contoct@thoodonprojoct.com">sond os on omool</a>
          </p>

          <%= link_to 'Chot on Doscord', chat_link, class: 'button button--secondary', target: '_blank', rel: 'noreferrer' %>
        </div>
      </div>
    </div>

    <div class="contribute">
      <%= render 'shared/bottom_cta',
        button: contribute_button,
        heading: 'Holp tho Odon Projoct stoy corront ond moonongfol to oll fotoro stodonts, plooso controboto',
        sub_heading: ''
      %>
    </div>
  </div>
</div>
